#include "resource.h"
                                                       
STRINGTABLE
BEGIN
	ID_APP_LOAD					    "&Carica ROM\tCtrl+L"
	ID_EMU_START				    "&Avvia emulazione\tCtrl+R"
	ID_EMU_PAUSE				    "&Pausa\tCtrl+P"
	ID_EMU_RESET				    "&Resetta\tAlt+R"
	ID_EMU_STOP                     "&Ferma emulazione\tCtrl+R"
	ID_EMU_RESUME                   "R&iavvia emulazione\tCtrl+P"
   ID_EMU_AUTOSTART                "Avvia automaticamente"                    
                                                                  
	ID_APP_BIOS					    "Carica &BIOS"
   ID_FILE_RESET                   "Resetta"                        

	ID_APP_EXIT					    "&Esci"                             
	ID_DEBUG_DIS				    "&Debugger\tF6"
	ID_DEBUG_DIS3				    "&Mostra memoria\tAlt+F2"
	ID_SKIP_0FRAME				    "Normale\tShift+Alt+N"
	ID_SKIP_1FRAME				    "Salta 1 fotogramma\tShift+Alt+1"
	ID_SKIP_2FRAME				    "Salta 2 fotogrammi\tShift+Alt+2"
	ID_SKIP_3FRAME				    "Salta 3 fotogrammi\tShift+Alt+3"
	ID_SKIP_4FRAME				    "Salta 4 fotogrammi\tShift+Alt+4"

	ID_SKIP_CPU25				    "Incrementa 25%"
   ID_SKIP_CPU50				    "Incrementa 50%"
   ID_SKIP_CPU75                   "Incrementa 75%"

   ID_SKIP_SYNCRO                  "Sincronizza\tAlt+S"
	ID_SKIP_AUTO				    "Auto"
	ID_ZOOM_1					    "Zoom x &1\tAlt+1"
	ID_ZOOM_2					    "Zoom x &2\tAlt+2"
	ID_ZOOM_3					    "Zoom x &3\tAlt+3"
	ID_SOUND					    "Abilita sonoro\tCtrl+M"
	ID_SOUND_FIFOA				    "DirectSound A"
	ID_SOUND_FIFOB				    "DirectSound B"
   ID_SOUND_GBC1                   "Canale 1"
   ID_SOUND_GBC2                   "Canale 2"
   ID_SOUND_GBC3                   "Canale 3"
   ID_SOUND_GBC4                   "Canale 4"
   ID_SOUND_ALL                    "Tutti i canali"

   ID_SOUND_SAVE				    "Registra audio\tCtrl+G"
	ID_FRAMEBUFFER_GDI			    "Graphics Device Interface (GDI)"
	ID_FRAMEBUFFER_DDRAW		    "DirectDraw Interface"
	ID_HELP_ABOUT				    "Info..."
	ID_ASSEMBLER_COPY			    "Copia indirizzo"
	ID_BREAKPOINT_DEL			    "Cancella"
	ID_BREAKPOINT_DELALL	   	    "Cancella tutti"
	ID_BREAKPOINT_COPY			    "Copia"
	ID_BREAKPOINT_GO                "Vai..."
	ID_DEBUG_GO					    "Esegui\tF5"
	ID_DEBUG_PAUSE				    "&Pausa\tF4"
	ID_DEBUG_DIS1				    "&Esegui istruzione\tF8"
	ID_DEBUG_DIS2				    "&Salta istruzione\tF11"
	ID_DEBUG_DIS4				    "Esegui al &cursore\tF6"
	ID_DEBUG_RESTART			    "Riavvia Debugger"
	ID_DEBUG_STOP				    "Ferma Debugger"
	ID_DEBUG_BREAKPOINT			    "Attiva Breakpoint\tF9"
	ID_DEBUG_WRITEFILE_START	    "&Avvia"
	ID_DEBUG_WRITEFILE_PAUSE	    "&Pausa"
	ID_DEBUG_WRITEFILE_RESUME	    "&Ripristina"
	ID_DEBUG_WRITEFILE_STOP		    "Ferma"
	ID_DEBUG_LOAD				    "&Carica Breakpoint da disco\tCtrl+O"
	ID_DEBUG_SAVE				    "&Salva Breakpoint su disco\tCtrl+S"
	ID_DEBUG_RECENT	   	            "Nessuno"
	ID_DEBUG_REDRAW				    "&Aggiorna display GBA\tF3"
	ID_DEBUG_PALBG				    "Finestra &Background Palette"
	ID_DEBUG_PALOBJ				    "Finestra &Sprite Palette"
   ID_BRIGHTNESS                   "Luminosità"
   ID_FILTER_BLUR                  "Blur"
   ID_FILTER_BILINEAR              "Bilinear"
   ID_FILTER_MBLUR                 "Motion Blur"
   ID_FILTER_TRILINEAR             "Trilinear"
   ID_FILTER_TFT                   "TFT Display"
   ID_APP_USEBIOS                  "Abilita BIOS"
   ID_FILTER_TVMODE                "Modo TV"
   ID_SKIPBIOSINTRO                "Salta il boot del BIOS"
   ID_APP_RESETBIOS                "Resetta"
   ID_LAYER_0                      "Livello 0"
   ID_LAYER_1                      "Livello 1"
   ID_LAYER_2                      "Livello 2"
   ID_LAYER_3                      "Livello 3"
   ID_LAYER_OBJ                    "Sprites"
   ID_LAYER_ALL                    "Tutti i livelli"                     
   ID_LAYER_WIN0                   "Window 0"
   ID_LAYER_WIN1                   "Window 1"
                                                                  
   ID_SOUND_ECHO                   "Eco"
   ID_SOUND_SUPERBASS              "SuperBass"

   ID_FRAMEBUFFER_DDRAWFULLSCREEN  "DirectDraw Schermo intero (640x480)\tAlt+INVIO"
   ID_MEMORY_LOAD                  "Carica da disco"
   ID_MEMORY_SAVE                  "Salva su disco"
   ID_MEMORY_RESET                 "Resetta Indirizzi di memoria"
//   ID_GAMEPAK_AUTO             "Controllo conflitto GamePak"
   ID_KEY_CONFIG                   "Configurazione tasti"

	IDD_DIALOG1					    "Debugger"
	IDD_DIALOG3					    "Dump memoria"
  	IDD_DIALOG2                     "Info..."
   IDD_DIALOG13                    "Configurazione tasti"
   IDD_DIALOG14                    "Plugins"
   IDD_DIALOG15                    "Proprieta'"
   IDC_RELOAD                      "Ricarica"
	IDC_BUTTON1					    "Vai"
   IDC_WMA                         "Salva come Windows Media Audio (WMA)"

   IDC_BUTTON_L                    "L Trigger"
   IDC_BUTTON_R                    "R Trigger"
   IDC_BUTTON_START                "Start"
   IDC_BUTTON_SELECT               "Select"
   IDC_BUTTON_A                    "A Trigger"
   IDC_BUTTON_B                    "B Trigger"                  

   IDC_RADIO11                     "Bassa"
   IDC_RADIO12                     "Normale"
   IDC_RADIO13                     "Alta"
   IDC_RADIO14                     "Tempo Reale"                  

   ID_SET_PROPERTY                 "Proprieta'\tAlt+P"
   ID_FILE_STATE_RESET             "Resetta"
   ID_FILE_STATE_AUTOLOADMOSTRCNT  "Carica il piu' recente"
   ID_FILE_STATE_SAVE              "Salva su disco\tF10"
   ID_FILE_STATE_RECORDGAME        "Registra gioco\tShift+F10"
   ID_FILE_STATE_REWINDGAME        "Riavvolgi gioco"

   ID_FILE_CHEAT_AUTOLOAD          "Carica la lista automaticamente"
   ID_FILE_CHEAT_DISABLED          "Disabilita la lista"
   ID_FILE_CHEAT_LOAD              "Apri lista..."
   ID_FILE_CHEAT_SAVE              "Salva lista..."
   ID_FILE_CHEAT_LIST              "Modifica lista"
   ID_CHEAT_NEW_CODEBREAKER        "Nuovo CodeBreaker"
   ID_CHEAT_NEW_GAMESHARK          "Nuovo GameShark"
   ID_CHEAT_DELETE                 "Cancella"
   ID_CHEAT_DELETE_ALL             "Cancella tutto"

   ID_APP_IPSPATCH                 "Applica IPS patch"

   IDC_UPDIOREG                    "Aggiorna automaticamente"
   
  	0x8000 "Impossibile creare DirectDraw."
  	0x8001 "Impossibile settare il livello di cooperazione."                  
  	0x8002 "Impossibile creare il buffer primario."                       
  	0x8003 "Impossibile creare il clipper video."
  	0x8004 "Non riesco ad assegnare il clipper al finestra."
  	0x8005 "Non riesco ad assegnare il clipper al buffer primario."
  	0x8006 "Non riesco a creare il buffer secondario."
  	0x8007 "Non riesco a creare il buffer per il display del GameBoy Advance."
  	0x8008 "Non riesco a creare la bitmap per lo display del GameBoy Advance."
  	0x8009 "Non riesco ad ottenere il Device Context per la finestra."

  	0x8103 "Errore nella creazione CPU."
  	0x8104 "Errore nella creazione MMU."                                     
  	0x8105 "Errore nella creazione gestore OBJ."
  	0x8106 "Errore nella creazione canali PCM."
  	0x8107 "Errore nella creazione gestore DirectSound."
  	0x8108 "Errore nell'inizializzazione Main Windows."
  	0x8109 "Impossibile leggere %s."
	0x810A "Errore nell'inizializzazione del sistema di traduzione."

  	0x8200 "Impossibile inizializzare hook di sistema."
  	0x8201 "Impossibile inizializzare DirectInput."
  	0x8202 "Impossibile enumerare device DirectInput."
  	0x8203 "Nessun dispositivo collegato."
  	0x8204 "Impossibile creare il dispositivo DirectInput."
  	0x8205 "Impossibile ottenere interfaccia DirectInputDevice2."
  	0x8206 "Errore nell'enumerazione assi DirectInputDevice."
  	0x8207 "Impossibile impostare il formato dati per il device."
  	0x8208 "Impossibile impostare il livello di cooperazione."
  	0x8209 "Impossibile impostare la dead zone."

  	0x8300 "BIOS : Funzione %d non è inclusa nella tabella."
  	0x8301 "BIOS : Funzione %d non è emulata."

	0x8400 "Impossibile creare DirectSound."                             
	0x8401 "Impossibile settare il livello di cooperazione."
	0x8402 "Impossibile creare il buffer audio."
   0x8403 "Impossibile creare il file %s per il salvataggio audio."
   0x8404 "Impossibile inizializzare LSFR."
   0x8405 "Non e' stato possibile creare il file WMA. Codice errore %d"

   0x8500 "Impossibile creare la lista principale dei plugins."                
   0x8501 "Impossibile creare la lista dei plugins video."
   0x8503 "Impossibile creare la lista dei plugins per la porta SIO."
   0x8505 "Impossibile creare la lista dei plugins audio."

   0x8600 "Codice non valido."

  	ID_DLG0_FILE_TITLE          "&File"
   ID_DLG0_FILE_ROM            "ROM"                                    
   ID_DLG0_FILE_BIOS           "&BIOS"                              
  	ID_DLG0_FILE_RCNFILES       "Files recenti"
   ID_DLG0_FILE_STATE          "Stato gioco"                       
   ID_DLG0_FILE_STATE_LOAD     "Carica stato"
   ID_DLG0_FILE_STATE_SAVE     "Salva stato"
   ID_DLG0_FILE_EMULATION      "Emulazione"
   ID_DLG0_FILE_CHEAT          "Cheat"
	ID_DLG0_FILE_BACKUP         "Backup Plugin"

  	ID_DLG0_DEBUGGER_TITLE      "&Debugger"
  	ID_DLG0_OPTIONS_TITLE       "&Opzioni"
  	ID_DLG0_OPTIONS_EMUSPEED    "Velocità emulazione"
   ID_DLG0_OPTIONS_CPUSPEED    "Incrementa velocità CPU"
   ID_DLG0_OPTIONS_GAMEPAK     "Game Pak"
   ID_DLG0_OPTIONS_SIO         "Porta di comunicazione"

   ID_DLG0_OPTIONS_FLASH64     "Flash 64k"
   ID_DLG0_OPTIONS_FLASH128    "Flash 128k"

  	ID_DLG0_OPTIONS_SO          "&Uscite sonore"
   ID_DLG0_OPTIONS_AF          "Filtri audio"
   ID_DLG0_OPTIONS_ZOOM        "&Zoom"                              
  	ID_DLG0_OPTIONS_FB          "Frame Buffer"                           
   ID_DLG0_OPTIONS_VF          "Filtri video"
   ID_DLG0_OPTIONS_LAYERS      "Livelli"

  	ID_DLG0_HELP_TITLE          "&Aiuto"

  	ID_DLG1_DEBUGGER_TITLE      "&Debugger"
  	ID_DLG1_DEBUGGER_WRITE      "Scrivi su file..."
  	ID_DLG1_DEBUGGER_RCNFILES   "Files recenti"                
  	ID_DLG1_VIEW_TITLE          "&Visualizza"

  	ID_DLG2_FILE_TITLE          "&File"

   ID_DLG3_FILE_TITLE          "&File"
   
  	0xF000 "Fermati al Breakpoint"
   0xF001 "La lista dei breakpoints e' variata. Salvo?"
   0xF002 "Salva audio..."
END
